.wrapperMapLabels {
    width: 30%;
    height: 100vh;
    overflow-y: scroll;
}

.wrapperSchool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}

.buttonInfoSchool {
    height: 100%;
}