.wrapperMapLabels {
    width: 30%;
    height: 100vh;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background: #f9f9fb;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.24);
}

.wrapperSchool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 0 5px 0 5px;
    position: relative;
}
.wrapperSchool div > p{
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #a3a3a3;
}

input {
    outline: none;
}